:root {
	font-size: 14;
	--primary: #18181a;
	--secondary: #232325;
	--accent: #301e67;
	--text: #f0f0f0;
	color: var(--text);
}
html {
	overflow: hidden;
	height: 100%;
}
body {
	overflow: auto;
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: var(--primary);
}
* {
	box-sizing: border-box;
}
::-webkit-scrollbar {
	background-color: transparent;
	height: 5px;
	width: 5px;
}
::-webkit-scrollbar-thumb {
	background: var(--text);
	border-radius: 2rem;
}

